* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    /* variáveis de fonte */
    --fonte-principal: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, sans-serif;


    /* variáveis de cor */
    --cor-principal: #6cecf5;
    --cor-secundaria: #12575c;
    --cor-terciaria: #22a0a8;
    

    font-size: 10px;  /* melhor para medidas usando rem */
}

body, html {
    background-color: var(--cor-secundaria);

    width: 100vw;
    height: 100vh;
}

body {
    font-family: var(--fonte-principal);
}

#conteiner-principal {
    /*
    outra maneira de centralizar
    position: relative
    */

    width: 100vw;
    height: 100vh;
}

.conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

#conteiner-formulario {
    padding: 1rem;
}

.titulo {
    text-align: center;
    padding: 1rem;
}

.texto {
    text-align: justify;
    margin-top: 1rem;
    margin-bottom: 2.4rem;
}

.icone {
    color: var(--cor-terciaria);
}