@import url(./global.css);
@import url(./style.css);

@media screen and (min-width: 768px) {
    body {
        background-image: linear-gradient(to bottom, var(--cor-secundaria), var(--cor-principal));
    }

    #login {
        display: flex;
        width: 80vw;
    }

    #image {
        width: 30%;
        height: 100%;
    }

    #form {
        width: 70%;
    }

    #form h1 {
        text-align: center;
        font-size: 2rem;
    
        padding: 1rem;
    }
    
    #form p {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 992px) {
    #login {
        width: 95rem;
        flex-direction: row-reverse;
    }

    #image {
        width: 50%;
    }

    #form {
        width: 50%;
    }

    #form h1 {
        text-align: center;
        font-size: 2.2rem;
    
        padding: 1rem;
    }
    
    #form p {
        font-size: 1.7rem;
    }
}