@import url(./global.css);
@import url(./style.css);

@media screen and (min-width: 768px) {
    body {
        background-image: linear-gradient(to bottom, var(--cor-secundaria), var(--cor-principal));
    }

    #login {
        display: flex;
        width: 80vw;
    }

    #image {
        width: 30%;
        height: 100%;
    }

    #form {
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    #login {
        width: 95rem;
    }

    #image {
        width: 50%;
    }

    #form {
        width: 50%;
    }
}