@import url(./global.css);

#login {
    /* 
    outra forma de centralizar

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    */

    background-color: white;

    overflow: hidden;  /* esconder o que tรก sobrando */

    width: 38rem;
    height: 52rem;

    border-radius: 2rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.480);

    transition: width 0.4s, height 0.4s;
}

#image {
    background: var(--quaternary-color) url(../images/metal.jpg) left bottom no-repeat;
    background-size: cover;

    height: 18rem;
}

#form {
    padding: 1rem;
}