@import url(./global.css);

#login {
    /*
    outra forma de centralizar

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    */

    background-color: white;

    overflow: hidden;  /* esconder o que tá sobrando */

    width: 31rem;
    height: 52rem;

    border-radius: 2rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.480);

    transition: width 0.4s, height 0.4s;
    transition-timing-function: ease;
}

#image {
    background: var(--cor-secundaria) url(../images/metal.jpg) left bottom no-repeat;
    background-size: cover;

    height: 18rem;
}

#form {
    padding: 1rem;
}

#form h1 {
    text-align: center;
    font-size: 1.6rem;

    padding: 1rem;
}

#form p {
    font-size: 1.3rem;
    text-align: justify;
    text-indent: 1rem;
}

#campos {
    display: flex;
    flex-direction: column;

    margin-block: 2.8rem;
    gap: 1.6rem;
}

.campo-formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
}

#botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
}

#botoes input {
    background-color: var(--cor-terciaria);
    color: white;

    font-size: 1.2rem;

    width: 60%;
    height: 3.2rem;
    padding: 0.5rem;

    border: none;
    border-radius: 0.8rem;

    cursor: pointer;
}

#botoes input:hover {
    background-color: var(--cor-secundaria);
    color: white;

    font-weight: bold;

    transition: 0.3s;
}

#botoes a {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    font-size: 1.2rem;

    color: var(--cor-secundaria);
}

#botoes a:hover {
    color: var(--cor-terciaria);
    font-weight: bold;
}